/* **************************************** Custom Properties **************************************** */

:root{
    --first-color: rgb(80, 5, 242);
    --first-alpha-color: rgba(80, 5, 242, 0.75);
    --second-color: rgb(39, 3, 89);
    --second-alpha-color: rgba(39, 3, 89, 0.75);
    --third-color: rgb(238, 5, 242);
    --third-alpha-color: rgba(238, 5, 242, 0.75);

    --link-color: rgb(80, 158, 227);
    --link-color: rgb(110, 168, 254); /*mdo*/
    --link-color: rgba(110, 168, 254, 0.75); /*el 'alpha' quizá lo aplique en el estado 'hover'*/

    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
    --bg-second-color:rgb(244, 240, 250);
}


/* **************************************** Reset Styles **************************************** */

body{
    font-family: "Raleway", sans-serif;
}

a {
  color: var(--third-color);
  transition: all .3s ease-out;
}

a:hover {
  color: var(--first-color);
}